extend ../layouts/taskslayout
include ../mixins/tasks/taskmixins

// main block: list all tasks
block main
	

// menu block: create and update form
block menu
	form#sidemenu.well
		div.control-group
			label(for='content-input') Content
			div.controls
				textarea#content-input.span11
		div.control-group
			label(for='date-input') Due Date
			div.controls
				input(type='text', id='date-input').span11
		div.control-group
			label(for='tag-input') Tag
			div.controls
				input(type='text', id='tag-input', placeholder='Personal').span11
		div.control-group
			label(for='priority-input') Priority
			div.controls
				select#priority-input.span11
					option 1
					option 2
					option 3
		button.btn.btn-primary#add-btn Add	